.blog__content {
    padding: 10rem;
    width: 80%;
    background: var(--color-white);
    margin: 0 auto;
    font-size: 1.2rem;

}

.blog__heading {
    text-align: center;
    color: var(--color-gold);
    margin-bottom: 2rem;
}

.blog__hero {
    width: 70%;
    background: linear-gradient(to right, green, black);
    float: left;
    margin: 1rem;
}

.blog__hero::after {
    clear: both;
}


@media screen and (max-width: 640px) {
    .blog__content {
        padding: 5rem;
        width: 100%;
    }

    .blog__hero {
        float: none;
        width: 95%;
        margin: 1.5rem;
    }
    
}