.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 4rem 0;
  gap: 5rem;
  padding: 5rem;
}

@media screen and (max-width: 640px) {
  .posts {
    margin: 2rem 0;
    gap: 3rem;
    padding: 2rem;
  }
}
